*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
.bg-location1 {
    width: 42px; height: 44px;
    background: url("image/css_sprites.png") -43px -0;
    position: absolute;
    right: 15px;
}
.bg-location2 {
    width: 19px; height: 23px;
    background: url("image/css_sprites.png") -0 -0;
}
.bg-data {
    width: 24px; height: 24px;
    background: url("image/css_sprites.png") -19px -0 no-repeat;
}
.bg-home {
    width: 46px; height: 73px;
    background: url("image/css_sprites.png") -127px -0;
    vertical-align: middle;

}
.bg-pen {
    width: 94px; height: 94px;
    background: url("image/css_sprites.png") -173px -0;
    vertical-align: middle;

}
.bg-my {
    width: 42px; height: 76px;
    background: url("image/css_sprites.png") -85px -0;
    vertical-align: middle;
}
/*------------------------------------------------head--------------------------------------------------------*/
.position{
    position: relative;
    /*overflow: hidden;*/
}
.head{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    /*border-bottom: solid 1px #EAEDEE;*/
}
.head1{
    width: 100%;
    background-color: #60C0CD;
    padding: 15px;

}
button{
    border: none !important;
}

.inline-block{
    display: inline-block;
}
.hirer{
    background-color: #56A9B3;
    color: #ffffff;;
}
.worker{
    background-color: #ffffff;
    color: #60C0CD;
    position: relative;
    right: 10px;
}
.head2{

    padding: 2%;

    color: #9A9A9A;
    margin: 0;
}
select{
    border: none !important;
    font-size: 17px;
}
.border-right-left{
    border-right: solid 1px #EAEDEE;
    border-left: solid 1px #EAEDEE;

}
.border-bottom{
    border-bottom: solid 1px #EAEDEE;
}
/*----------------------------------------------------------------------body-------------------------------------------*/

ul{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 150px;
    margin-bottom: 120px;
}

.time-location-img{
    vertical-align: middle;
}
.time-location-p{
    color: #9A9A9A;
    vertical-align: middle;
    font-size: 20px;
}
.h3-clor{
    color: #E63C10;
}
.left-button{
    color: #60C0CD;
    position: absolute;
}
p{
    margin: 0;
}
h3{
    margin-top: 10px;
    vertical-align: middle;
    font-size: 1.8rem;
}

li{
    margin: 0 !important;
    border-bottom: solid 1px #EAEDEE;
    padding-top: 10px;
    padding-bottom: 10px;
}
.li-top{
    border-top: solid 1px #EAEDEE;
}
.margin-left{
    margin-left: 0;
}
.line-height{
    line-height: 44px;
}
/*-----------------------------------------------------------foot------------------------------------------------------*/
.foot{
    background-color: #F8FAFB;
    /*padding: 15px;*/
    height: 110px;
    line-height: 110px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0;

}
